<div class="w3-content w3-margin-bottom" style="max-width:1500px">
  <header class="w3-display-container w3-center">
    <img class="w3-image" src="/assets/pictures/background.jpg" alt="Logo">

    <!-- Navigation Bar -->
    <div class="w3-center w3-grey w3-padding-16 w3-round-xxlarge w3-display-bottommiddle w3-hide-small" style="bottom:-40px; min-width:360px">
      <div class="w3-bar w3-grey" style="font-size:18px">
        <a href="/home" class="w3-bar-item w3-button">About</a>
        <a href="/encoder" class="w3-bar-item w3-button">Encoder</a>
        <a href="/decoder" class="w3-bar-item w3-button">Decoder</a>
      </div>
    </div>
    <!-- Small screen navigation bar -->
    <div class="w3-center w3-grey w3-padding-16 w3-hide-large w3-hide-medium">
      <div class="w3-bar w3-grey w3-wide" style="font-size:14px">
        <a href="/home" class="w3-bar-item w3-button">About</a>
        <a href="/encoder" class="w3-bar-item w3-button">Encoder</a>
        <a href="/decoder" class="w3-bar-item w3-button">Decoder</a>
      </div>
    </div>
  </header>
</div>
